# Windows thumbnail cache
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config
Desktop.ini

# Logs
*.log

# Sensitive headers & tokens
*header_string*.txt

# Editor directories
.vscode/
.idea/

.vercel
