#offcanvas-add-on {
    padding:24px;
    width: 360px;
    border-left: 0;
}

#offcanvas-add-on .offcanvas-header {
    margin-bottom: 1rem;
    border-bottom: 1px dashed #E8E8E8;
}

#offcanvas-add-on .offcanvas-header h5 {
    text-transform: uppercase;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #25282B;
    letter-spacing: 0.1em;
    margin-top: 5px;
}

/* Mobile */
@media (max-width: 425px) {
    #offcanvas-add-on {
        width: 100%;
        left: 0;
    }
}

#add-on-back-btn {
    height: 20px;
    width: 20px;
    top: 16px;
    left: 16px;
}

#add-on-back-btn img {
    height: 20px;
    width: 20px;
}
.add-on-group:not(.add-on-group:first-child){
    margin-top:16px;
}
.add-on-field-title {
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #25282B;
}
.add-on-field-expand-container {
    display:flex;
    align-items:center;
}
.add-on-field-expand-btn {
    height: 24px;
    width: 24px;
}
.add-on-field-container {
    background: #FFF;
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 16px;
    box-shadow: 0px 1px 6px 0px rgba(37, 40, 43, 0.08);
    border:1px solid #E8E8E8;
    z-index: 1;
}
.add-on-field-container:hover {
    cursor: pointer;
    background: #f9f9f9 !important;
}

.add-on-option-container {
    z-index: 99999;
}

.add-on-item-accent {
    min-height: 54px;
    border-radius: 4px 0 0 4px;
    width: 4px;
    background: #52575C;
    margin-right: 8px;
}
.add-on-item-field-name {
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #25282B;
}
.add-on-item-slot-time {
    line-height: 20px;
    letter-spacing: 0.15px;
    color: #52575C;
}
.add-on-items-container {
    position: relative;
    height: calc(100% - 70px);
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    transition: all 0.2s;
    will-change: transform;
    user-select: none;
    scrollbar-color: rgba(0,0,0,0.5);
    padding-right: 12px;
}
.add-on-items-container::-webkit-scrollbar {
    display: none;
}
.add-on-items-container-mobile {
    height: calc(100% - 152px);
}
.add-on-action-btn {
    padding: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    background: #9E0620;
    border-radius: 8px;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
}
.mobile-add-on-action-btn-container {
    padding: 16px;
    border-top: 1px solid #E8E8E8;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.add-on-option-desc {
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #52575C;
    padding: 0;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}
.add-on-option-package-price-span {
    line-height: 20px;
    letter-spacing: 0.15px;
    color: #25282B;

    /* overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis */
}
