.cart-field-title {
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #08090B;
}
.delete-cart-item-container {
    display:flex;
    align-items:center;
}
.delete-cart-item-btn {
    margin-right: 8px;
    height: 24px;
    width: 24px;
}
.cart-field-slot {
    background: #FAFAFA;
    border-radius: 4px;
    margin-top: 8px;
}
.cart-item-accent {
    min-height: 54px;
    border-radius: 4px 0 0 4px;
    width: 4px;
    background: #52575C;
    margin-right: 8px;
}
.cart-item-time {
    line-height: 20px;
    letter-spacing: 0.15px;
    color: #08090B;
}
.cart-item-price {
    line-height: 20px;
    letter-spacing: 0.15px;
    color: #52575C;
}
.cart-items-container {
    position: relative;
    height: calc(100% - 48px);
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    transition: all 0.2s;
    will-change: transform;
    user-select: none;
    scrollbar-color: rgba(0,0,0,0.5);
}
.cart-items-container::-webkit-scrollbar {
    display: none;
}
.cart-items-container-mobile {
    height: calc(100% - 130px);
}

.cart-action-btn {
    padding: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    background: #D71926;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #FFFFFF;
}

.cart-action-btn-container {
    width: 360px;
    padding: 16px;
    border-top: 1px solid #D9DCE1;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9999999;
}
.no-active-cart {
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #A0A4A8;
}

.cart-arrow-up {
    display: none;
    width: 0;
    height: 0;
    top: 32px;
    position: fixed;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 16px solid #fff;
    margin: 2rem;
    z-index: 1045;
}

.cart-icon-desktop-overlay {
    display: none;
    z-index: 1045;
    position: fixed;
    top:17px;
    right: 452px;
    width: 42px;
    height: 42px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cart-icon-desktop-overlay .cart-icon-counter {
    width: 18px;
    height: 18px;
    padding:2px;
    color: #fff;
    background: #D71926;
    border: 2px solid #fff;
    text-align: center;
    position: absolute;
    font-size: 10px;
    top:4px;
    right: 2px;
    border-radius: 50%;
    font-weight: 500;
    line-height: 130%;
}

#offcanvas-cart {
    padding:24px;
    width: 360px;
    border-left: 0;
}

#offcanvas-cart .offcanvas-header {
    margin-bottom: 1rem;
    border-bottom: 1px dashed #D9DCE1;
}

#offcanvas-cart .offcanvas-header h5 {
    text-transform: uppercase;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #08090B;
    letter-spacing: 0.1em;
    margin-top: 5px;
}

/* Tablet */
@media (max-width: 768px) and (min-width: 426px) {
    .cart-icon-desktop-overlay {
        right: 74px;
    }
    .cart-arrow-up{
        top:34px;
        right: 50px;
    }
}

/* Mobile */
@media (max-width: 425px) {
    #offcanvas-cart {
        width: 100%;
        left: 0;
    }
    .cart-icon-desktop-overlay {
        right: 68px;
    }
    .cart-arrow-up{
        top:32px;
    }
}
